.App {
  text-align: center;
}
body {
  font-family: 'JetBrains Mono';
  padding: 20px 80px;
}
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.logo-container {
  box-sizing: content-box;
}
